<div class="messages">
    <h2>Socialcast meldinger</h2>

    <ul class="message-list">
        {{#each messages}}

        <li class="message">
            <div class="user">
                {{user.name}} <span class="username">@{{user.username}}</span>
            </div>
            <div class="body">{{body}}</div>
            <div class="likes">

                {{#if likes}}
                Likes:
                {{#each likes}}
                    {{user.name}} -
                {{/each}}
                {{/if}}

            </div>




        </li>

        {{/each}}
    </ul>
    <div style="clear:both"></div>
</div>
