@import 'normalize.css';
body {
  font-family: 'Conduit ITC W01 Medium', Arial;
  color: #ffffff;
  background-color: #262626;
}
a {
  color: #00B7FF;
}
.error {
  color: red;
}
.line {
  background-color: #E9555F;
  height: 2px;
  width: 70px;
  margin: 15px auto;
}
h2 {
  font-size: 2em;
}
.dark {
  background-color: #111;
}
.light-dark {
  background-color: #262626;
}
